<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zerobase.fastlms.admin.mapper.BannerMapper">

    <resultMap id="bannerRM" type="com.zerobase.fastlms.banner.dto.BannerDto">
        <result property="id" column="banner_id"/>
        <result property="name" column="banner_name"/>
        <result property="file" column="banner_file"/>
        <result property="url" column="banner_url"/>
        <result property="target" column="banner_open_target"/>
        <result property="order" column="banner_order"/>
        <result property="openYn" column="banner_open_yn"/>
        <result property="addDt" column="banner_add_dt"/>
        <result property="delFlag" column="banner_del_flag"/>
    </resultMap>


    <select id="selectListCount" resultType="long">
        select count(*)
        from banner
        where 1 = 1

    </select>

    <select id="selectList" resultType="com.zerobase.fastlms.banner.dto.BannerDto" resultMap="bannerRM">
        select *
        from banner
        where 1 = 1


        limit #{pageStart}, #{pageEnd}
    </select>

</mapper>
